<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>

<body>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">VehicleBrand</th>
                <th scope="col">categoryName</th>
                <th scope="col">vehiclePicture</th>
                <th scope="col">Price</th>
                <th scope="col">depreciation</th>
                <th scope="col">NumberOfYears</th>
                <th scope="col">TotalPrice</th>
            </tr>
        </thead>
        <tbody>
            {{#each listData}}
            <tr>
                <td>{{vehicleBbrand}}</td>
                <td>{{categoryName}}</td>
                <td><img src="/uploads/{{vehiclePicture}}" alt="profile" width="80" /></td>
                <td>{{Price}}</td>
                <td>{{depreciation}}</td>
                <td>{{NumberOfYears}}</td>
                <td>{{TotalPrice}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>